# Ignora arquivos temporários e de sistema
*.log
*.tmp
*.bak
*.swp
.DS_Store
Thumbs.db

# Ignora ambientes virtuais e dependências
.venv/
env/
__pycache__/
*.py[cod]

# Ignora arquivos de configuração do Databricks
*.dbc
*.dbc-meta.json
.dbx/
.repos/
.checkpoints/
.ipynb_checkpoints/

# Dados
*.csv
*.parquet
*.json
*.xlsx
data/
datasets/

